@font-face {
    font-family: 'Halogen'; /*a name to be used later*/
    src: url("../source/fonts/Halogen.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Vera'; /*a name to be used later*/
    src: url("../source/fonts/Vera.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Aller_Rg'; /*a name to be used later*/
    src: url("../source/fonts/Aller_Rg.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'RifficFree-Bold'; /*a name to be used later*/
    src: url("../source/fonts/RifficFree-Bold.ttf"); /*URL to font*/
}

a:visited {
    color: rgb(137, 0, 116);
}

a:link {
    color: rgb(231, 105, 187);
}

a:hover {
    color: rgb(225, 145, 197);
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    height: 100%;
    background: url("../source/images/bg_tile.png") repeat fixed;
}

.wrapper{
    position: relative;
}

.content {
    background: white;
    height: inherit;
    box-shadow: 0 0 25px grey;
}

.header,
.content,
.wrapper {
    width: 100%;
}

.disclaimer2,
.download {
    display: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: auto;
    z-index: 200;
}

@media only screen and (min-width: 1050px) {
    .header, .wrapper, .bar, .footer-container {
        width: 830px;
        margin:0 auto;
        position: relative;
    }
    .logo {
        left: -100px;
        height: 200px;
    }
}

@media only screen and (min-width: 1420px) {
    .header, .wrapper, .bar, .footer-container {
        width:1200px;
        margin:0 auto;
        position:relative;
    }
    .logo {
        left: -100px;
        height: 200px;
    }
}

body.force_desktop {
    width:1200px;
    margin:0 auto;
    position:relative;
}

.titlebar {
    width: inherit;
    position: fixed;
    z-index: 1;
}

.shadowed {
    webkit-filter: drop-shadow(0 0 25px grey);
    filter: drop-shadow(0 0 7px grey);
    z-index: 100;
}

.bar {
    width: inherit;
}

.bar {
    position: fixed;
    text-align: center;
    z-index: 150;
    box-shadow: 0 0 25px grey;
}

.title,
.bar,
.divider{
    height: 50px;
}

.bg-pink {
    background-color: rgb(255, 230, 250);
}

.content {
    padding-top: 100px;
    padding-bottom: 30px;
}

.video {
    position: relative;
    /* ratio 16x9 */
    padding-bottom: 56.25%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    width: auto;
    height: auto;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.divider {
    position: relative;
}

.cute {
    height: 500px;
}

.girls {
    background: url("../source/images/increadibly_cute_girls.png") no-repeat top;
    position: relative;
    height: 742px;
    top: -70px;
    display: block;
}

.description {
    background: white;
    position: relative;
    padding: 20px 100px 50px 100px;
    font-family: Halogen;
    font-size: 20px;
}

.description h1 {
    text-align: center;
}

.dialogue {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    padding: 20px 40px 0;
    min-height: 220px;
    border: 4px solid rgb(247, 191, 221);
    font-family: Aller_Rg;
    font-size: 20px;
    text-align: center;
}

.btn {
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

.ok1,
.ok2 {
    width: 8%;
}

.btn_download {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
}

.stuff {
    display: flex;
    align-items: stretch;
    min-height: 700px;
}

.credits-box {
    float: left;
    width: 50%;
    border-right: 2px solid rgb(247, 191, 221);
    text-align: center;
    font-family: Aller_Rg;
}

.names {
    text-align: left;
    margin-left: 25%;
}

.useful {
    float: right;
    width: 50%;
    text-align: center;
    font-family: Aller_Rg;
}

.preview {
    width: 275px;
}

.footer {
    margin: unset;
    position: relative;
    height: 50px;
    background: black;
}

.footer-container {
    height: inherit;
    overflow: hidden;
}

.team_logo {
    height: 100%;
}

.yt_logo,
.reddit_logo {
    float: right;
    height:90%;
    margin-top: 3px;
    margin-left: 10px;
}