@font-face {
    font-family: 'Halogen'; /*a name to be used later*/
    src: url("../source/fonts/Halogen.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Vera'; /*a name to be used later*/
    src: url("../source/fonts/Vera.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Aller_Rg'; /*a name to be used later*/
    src: url("../source/fonts/Aller_Rg.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'RifficFree-Bold'; /*a name to be used later*/
    src: url("../source/fonts/RifficFree-Bold.ttf"); /*URL to font*/
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    background: url("../source/images/BG.png") repeat fixed;
}

.wrapper{
    position: relative;
    width: 100%;
}

.content {
    width:100%;
    background: white;
    height: inherit;
    box-shadow: 0 0 15px grey;
}

.shadowed {
    webkit-filter: drop-shadow(0 0 25px grey);
    filter: drop-shadow(0 0 7px grey);
}

.disclaimer2,
.download {
    display: none;
}

@media only screen and (min-width: 830px) {
    .wrapper, .bar, .footer-container {
        width: 830px;
        margin:0 auto;
    }
    .logo {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper, .bar, .footer-container {
        width:1200px;
        margin:0 auto;
        position:relative;
    }
    .logo {
        display: block;
    }
}

body.force_desktop #main {
    width:1200px;
    margin:0 auto;
    position:relative;
}

.logo {
    position: fixed;
    top: 0;
    left: 220px;
    height: 256px;
    width: auto;
    z-index: 200;
}

.shadowed {
    position: fixed;
    top: 0;
    left: 220px;
    height: 256px;
    width: auto;
    z-index: 100;
}

.bar {
    position: fixed;
    height: 50px;
    text-align: center;
    background-color: rgb(255, 230, 250);
    z-index: 150;
    box-shadow: 0 0 15px grey;
}
.title {
    height: 50px;
}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.video {
    position: relative;
    /* ratio 16x9 */
    padding-bottom: 56.25%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    width: auto;
    height: auto;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.divider {
    position: relative;
    background-color: rgb(255, 230, 250);
    height: 50px;
}

.cute {
    height: 500px;
}

.girls {
    background: url("../source/images/increadibly_cute_girls.png") no-repeat top;
    position: relative;
    height: 742px;
    top: -70px;
    display: block;
}

.description {
    background: white;
    position: relative;
    padding: 20px 100px 50px 100px;
    font-family: Halogen;
    font-size: 20px;
}

.description h1 {
    text-align: center;
    font-family: Halogen;
}

.disclaimer1,
.disclaimer2,
.download{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    padding: 20px 40px 0;
    background: rgb(255, 230, 250);
    border: 4px solid rgb(247, 191, 221);
    font-family: Aller_Rg;
    font-size: 20px;
    text-align: center;
}

.ok1,
.ok2,
.btn_download {
    margin: 10px auto;
    display: block;
}

.ok1,
.ok2 {
    width: 8%;
}

.btn_download {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
}

.footer {
    margin: unset;
    position: relative;
    height: 50px;
    background: black;
}

.footer-container {
    height: inherit;
}

.stuff {
    min-height: 700px;
}

.credits {
    float: left;
    width: 50%;
    border-right: 2px solid rgb(247, 191, 221);
    text-align: center;
    font-family: Aller_Rg;
}

.names {
    text-align: left;
    margin-left: 150px;
}

.useful {
    float: right;
    width: 598px;
    text-align: center;
    font-family: Aller_Rg;
}



.preview {
    width: 275px;
}

.team_logo {
    height: 100%;
}

.yt_logo,
.reddit_logo {
    float: right;
    height:90%;
    margin-top: 3px;
    margin-left: 10px;
}

a:visited {
    color: darkmagenta;
}

a:link {
    color: rgb(155, 69, 125);
}

a:hover {
    color: grey;
}